build/*
/out/build/x64-Debug/VSInheritEnvironments.txt
/out/build/x64-Debug/Testing/Temporary/LastTest.log
/out/build/x64-Debug/Testing/Temporary
/out/build/x64-Debug/projects/project0/cmake_install.cmake
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/__/base/transform.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/__/base/sphere.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/__/base/model.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/__/base/glsl_program.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/__/base/cylinder.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/__/base/cube.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/__/base/cone.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/__/base/camera.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/__/base/application.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/__/base
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/vc140.pdb
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/scene.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/manifest.res
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/manifest.rc
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/main.cpp.obj
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/intermediate.manifest
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir/embed.manifest
/out/build/x64-Debug/projects/project0/CMakeFiles/project0.dir
/out/build/x64-Debug/projects/project0
/out/build/x64-Debug/media/texture/skyboxrt/top.jpg
/out/build/x64-Debug/media/texture/skyboxrt/right.jpg
/out/build/x64-Debug/media/texture/skyboxrt/left.jpg
/out/build/x64-Debug/media/texture/skyboxrt/front.jpg
/out/build/x64-Debug/media/texture/skyboxrt/bottom.jpg
/out/build/x64-Debug/media/texture/skyboxrt/back.jpg
/out/build/x64-Debug/media/texture/skyboxrt
/out/build/x64-Debug/media/texture/skybox/Up_Tex.jpg
/out/build/x64-Debug/media/texture/skybox/Right_Tex.jpg
/out/build/x64-Debug/media/texture/skybox/Left_Tex.jpg
/out/build/x64-Debug/media/texture/skybox/Front_Tex.jpg
/out/build/x64-Debug/media/texture/skybox/Down_Tex.jpg
/out/build/x64-Debug/media/texture/skybox/Back_Tex.jpg
/out/build/x64-Debug/media/texture/skybox
/out/build/x64-Debug/media/texture/miscellaneous/transparent.png
/out/build/x64-Debug/media/texture/miscellaneous/Rock-Texture-Surface.jpg
/out/build/x64-Debug/media/texture/miscellaneous/planet_Quom1200.png
/out/build/x64-Debug/media/texture/miscellaneous/earthmap.jpg
/out/build/x64-Debug/media/texture/miscellaneous
/out/build/x64-Debug/media/texture/hdr/newport_loft.hdr
/out/build/x64-Debug/media/texture/hdr
/out/build/x64-Debug/media/texture
/out/build/x64-Debug/media/shader/skybox.vert
/out/build/x64-Debug/media/shader/skybox.frag
/out/build/x64-Debug/media/shader/quad.vert
/out/build/x64-Debug/media/shader/quad.frag
/out/build/x64-Debug/media/shader/prefilter.frag
/out/build/x64-Debug/media/shader/pbr.vert
/out/build/x64-Debug/media/shader/pbr.frag
/out/build/x64-Debug/media/shader/irradiance.frag
/out/build/x64-Debug/media/shader/filter_cube.vert
/out/build/x64-Debug/media/shader/equirectangular_to_cubemap.frag
/out/build/x64-Debug/media/shader/brdf_lut.vert
/out/build/x64-Debug/media/shader/brdf_lut.frag
/out/build/x64-Debug/media/shader
/out/build/x64-Debug/media/obj/sphere.obj
/out/build/x64-Debug/media/obj/rock.obj
/out/build/x64-Debug/media/obj/lucy.obj
/out/build/x64-Debug/media/obj/knot.obj
/out/build/x64-Debug/media/obj/dragon.obj
/out/build/x64-Debug/media/obj/cube.obj
/out/build/x64-Debug/media/obj/bunny.obj
/out/build/x64-Debug/media/obj/arrow.obj
/out/build/x64-Debug/media/obj
/out/build/x64-Debug/media/gltf/grey_knight/textures/WEAPON_normal.png
/out/build/x64-Debug/media/gltf/grey_knight/textures/WEAPON_metallicRoughness.png
/out/build/x64-Debug/media/gltf/grey_knight/textures/WEAPON_baseColor.png
/out/build/x64-Debug/media/gltf/grey_knight/textures/CLOAK_normal.png
/out/build/x64-Debug/media/gltf/grey_knight/textures/CLOAK_metallicRoughness.png
/out/build/x64-Debug/media/gltf/grey_knight/textures/CLOAK_baseColor.png
/out/build/x64-Debug/media/gltf/grey_knight/textures/CHAR_normal.png
/out/build/x64-Debug/media/gltf/grey_knight/textures/CHAR_metallicRoughness.png
/out/build/x64-Debug/media/gltf/grey_knight/textures/CHAR_baseColor.png
/out/build/x64-Debug/media/gltf/grey_knight/textures
/out/build/x64-Debug/media/gltf/grey_knight/scene.gltf
/out/build/x64-Debug/media/gltf/grey_knight/scene.bin
/out/build/x64-Debug/media/gltf/grey_knight/license.txt
/out/build/x64-Debug/media/gltf/grey_knight
/out/build/x64-Debug/media/gltf/drone/textures/material_normal.png
/out/build/x64-Debug/media/gltf/drone/textures/material_metallicRoughness.png
/out/build/x64-Debug/media/gltf/drone/textures/material_baseColor.png
/out/build/x64-Debug/media/gltf/drone/textures/body_normal.png
/out/build/x64-Debug/media/gltf/drone/textures/body_metallicRoughness.png
/out/build/x64-Debug/media/gltf/drone/textures/body_emissive.png
/out/build/x64-Debug/media/gltf/drone/textures/body_baseColor.png
/out/build/x64-Debug/media/gltf/drone/textures/Boden_normal.png
/out/build/x64-Debug/media/gltf/drone/textures/Boden_metallicRoughness.png
/out/build/x64-Debug/media/gltf/drone/textures/Boden_baseColor.png
/out/build/x64-Debug/media/gltf/drone/textures
/out/build/x64-Debug/media/gltf/drone/scene.gltf
/out/build/x64-Debug/media/gltf/drone/scene.bin
/out/build/x64-Debug/media/gltf/drone/license.txt
/out/build/x64-Debug/media/gltf/drone
/out/build/x64-Debug/media/gltf/DamagedHelmet.gltf
/out/build/x64-Debug/media/gltf
/out/build/x64-Debug/media
/out/build/x64-Debug/external/tinyobjloader/tinyobjloader.lib
/out/build/x64-Debug/external/tinyobjloader/cmake_install.cmake
/out/build/x64-Debug/external/tinyobjloader/CMakeFiles/tinyobjloader.dir/tiny_obj_loader.cc.obj
/out/build/x64-Debug/external/tinyobjloader/CMakeFiles/tinyobjloader.dir/tinyobjloader.pdb
/out/build/x64-Debug/external/tinyobjloader/CMakeFiles/tinyobjloader.dir
/out/build/x64-Debug/external/tinyobjloader
/out/build/x64-Debug/external/tinygltf/tinygltf.lib
/out/build/x64-Debug/external/tinygltf/cmake_install.cmake
/out/build/x64-Debug/external/tinygltf/CMakeFiles/tinygltf.dir/tiny_gltf.cc.obj
/out/build/x64-Debug/external/tinygltf/CMakeFiles/tinygltf.dir/tinygltf.pdb
/out/build/x64-Debug/external/tinygltf/CMakeFiles/tinygltf.dir
/out/build/x64-Debug/external/tinygltf
/out/build/x64-Debug/external/stb/stb.lib
/out/build/x64-Debug/external/stb/cmake_install.cmake
/out/build/x64-Debug/external/stb/CMakeFiles/stb.dir/stb_vorbis.c.obj
/out/build/x64-Debug/external/stb/CMakeFiles/stb.dir/stb_image.cpp.obj
/out/build/x64-Debug/external/stb/CMakeFiles/stb.dir/stb.pdb
/out/build/x64-Debug/external/stb/CMakeFiles/stb.dir
/out/build/x64-Debug/external/stb
/out/build/x64-Debug/external/imgui/imgui.lib
/out/build/x64-Debug/external/imgui/cmake_install.cmake
/out/build/x64-Debug/external/imgui/CMakeFiles/imgui.dir/imgui_widgets.cpp.obj
/out/build/x64-Debug/external/imgui/CMakeFiles/imgui.dir/imgui_tables.cpp.obj
/out/build/x64-Debug/external/imgui/CMakeFiles/imgui.dir/imgui_impl_opengl3.cpp.obj
/out/build/x64-Debug/external/imgui/CMakeFiles/imgui.dir/imgui_impl_glfw.cpp.obj
/out/build/x64-Debug/external/imgui/CMakeFiles/imgui.dir/imgui_draw.cpp.obj
/out/build/x64-Debug/external/imgui/CMakeFiles/imgui.dir/imgui_demo.cpp.obj
/out/build/x64-Debug/external/imgui/CMakeFiles/imgui.dir/imgui.pdb
/out/build/x64-Debug/external/imgui/CMakeFiles/imgui.dir/imgui.cpp.obj
/out/build/x64-Debug/external/imgui/CMakeFiles/imgui.dir
/out/build/x64-Debug/external/imgui
/out/build/x64-Debug/external/glm/glm/CTestTestfile.cmake
/out/build/x64-Debug/external/glm/glm/cmake_install.cmake
/out/build/x64-Debug/external/glm/glm
/out/build/x64-Debug/external/glm/CTestTestfile.cmake
/out/build/x64-Debug/external/glm/cmake_install.cmake
/out/build/x64-Debug/external/glm
/out/build/x64-Debug/external/glfw/src/glfw_config.h
/out/build/x64-Debug/external/glfw/src/glfw3ConfigVersion.cmake
/out/build/x64-Debug/external/glfw/src/glfw3Config.cmake
/out/build/x64-Debug/external/glfw/src/glfw3.pc
/out/build/x64-Debug/external/glfw/src/glfw3.lib
/out/build/x64-Debug/external/glfw/src/cmake_install.cmake
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/window.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_window.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_time.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_thread.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/win32_init.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/wgl_context.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/vulkan.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/monitor.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/input.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/init.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/glfw.pdb
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/egl_context.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir/context.c.obj
/out/build/x64-Debug/external/glfw/src/CMakeFiles/glfw.dir
/out/build/x64-Debug/external/glfw/src
/out/build/x64-Debug/external/glfw/cmake_uninstall.cmake
/out/build/x64-Debug/external/glfw/cmake_install.cmake
/out/build/x64-Debug/external/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets.cmake
/out/build/x64-Debug/external/glfw/CMakeFiles/Export/lib/cmake/glfw3/glfw3Targets-debug.cmake
/out/build/x64-Debug/external/glfw/CMakeFiles/Export/lib/cmake/glfw3
/out/build/x64-Debug/external/glfw
/out/build/x64-Debug/external/glad/src/glad.lib
/out/build/x64-Debug/external/glad/src/cmake_install.cmake
/out/build/x64-Debug/external/glad/src/CMakeFiles/glad.dir/glad.pdb
/out/build/x64-Debug/external/glad/src/CMakeFiles/glad.dir/glad.c.obj
/out/build/x64-Debug/external/glad/src/CMakeFiles/glad.dir
/out/build/x64-Debug/external/glad/src
/out/build/x64-Debug/external/glad/cmake_install.cmake
/out/build/x64-Debug/external/glad
/out/build/x64-Debug/external
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
/out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
/out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
/out/build/x64-Debug/CMakeFiles/ShowIncludes
/out/build/x64-Debug/CMakeFiles/rules.ninja
/out/build/x64-Debug/CMakeFiles/CMakeOutput.log
/out/build/x64-Debug/CMakeFiles/CMakeError.log
/out/build/x64-Debug/CMakeFiles/cmake.check_cache
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CompilerIdCXX
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CompilerIdC
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CMakeSystem.cmake
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CMakeRCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CMakeDetermineCompilerABI_C.bin
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CMakeCXXCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2/CMakeCCompiler.cmake
/out/build/x64-Debug/CMakeFiles/3.22.22011901-MSVC_2
/out/build/x64-Debug/CMakeFiles
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/bin/screenshot.png
/out/build/x64-Debug/bin/project0.pdb
/out/build/x64-Debug/bin/project0.ilk
/out/build/x64-Debug/bin/project0.exe
/out/build/x64-Debug/bin/imgui.ini
/out/build/x64-Debug/bin
/out/build/x64-Debug/.ninja_log
/out/build/x64-Debug/.ninja_deps
/out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-ad9b2eb6760d4b184d19.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-uninstall-Debug-844a40f4ad094d0cf8ec.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-tinyobjloader-Debug-71bcebc095a60087aaa1.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-tinygltf-Debug-bf2e5db8616a7ba24c8b.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-stb-Debug-77dbb1b0dbb5343275c9.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-project0-Debug-9a886a21366103f39333.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-imgui-Debug-9749f577b425d51544f9.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-glfw-Debug-bbfcf202c499267c0ab9.json
/out/build/x64-Debug/.cmake/api/v1/reply/target-glad-Debug-6af6dd801bc104e98c8c.json
/out/build/x64-Debug/.cmake/api/v1/reply/index-2023-01-16T04-07-04-0429.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-projects.project0-Debug-aa727c1f289897f89f70.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-external.tinyobjloader-Debug-1864ca5e2ec7de9b219d.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-external.tinygltf-Debug-8fa55b842b3a029adb26.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-external.stb-Debug-be2170db882f4da169f4.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-external.imgui-Debug-8f2cd0809e5890c8092e.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-external.glm.glm-Debug-abc7302ed9fa59a98343.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-external.glm-Debug-c35beecffdababf19b76.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-external.glfw.src-Debug-102cf04a7c6505f5db2c.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-external.glfw-Debug-18e43d8515bed627049d.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-external.glad.src-Debug-4628d8253699870d5c39.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-external.glad-Debug-fe552af5a86a4942293e.json
/out/build/x64-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-f7d3a13dd8828a0db1f1.json
/out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-f5217c14e06263ed46ca.json
/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-d402592c7c834c5c8676.json
/out/build/x64-Debug/.cmake/api/v1/reply
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS
/out/build/x64-Debug/.cmake/api/v1
/out/build/x64-Debug
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/cmake.db
/.vs/CMake Overview
/.vs/3d-engine/v17/workspaceFileList.bin
/.vs/3d-engine/v17/ipch/AutoPCH/fca1ee21f3c9613a/CONE.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/fca1ee21f3c9613a
/.vs/3d-engine/v17/ipch/AutoPCH/fb43a944bb531eb0/SPHERE.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/fb43a944bb531eb0
/.vs/3d-engine/v17/ipch/AutoPCH/f59fb5c60ca8876b/SCENE.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/f59fb5c60ca8876b
/.vs/3d-engine/v17/ipch/AutoPCH/cece41400b704ff9/MAIN.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/cece41400b704ff9
/.vs/3d-engine/v17/ipch/AutoPCH/ab61112b7c2f0de7/CUBE.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/ab61112b7c2f0de7
/.vs/3d-engine/v17/ipch/AutoPCH/a7b15e93d05cef7a/CYLINDER.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/a7b15e93d05cef7a
/.vs/3d-engine/v17/ipch/AutoPCH/a6553f694774831f/CONE.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/a6553f694774831f
/.vs/3d-engine/v17/ipch/AutoPCH/a290ba13f11dbd99/MODEL.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/a290ba13f11dbd99
/.vs/3d-engine/v17/ipch/AutoPCH/9db1c8ecae58dc50/CUBE.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/9db1c8ecae58dc50
/.vs/3d-engine/v17/ipch/AutoPCH/8c44b43c1305f0cf/SPHERE.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/8c44b43c1305f0cf
/.vs/3d-engine/v17/ipch/AutoPCH/788817d2f3048c1/SPHERE.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/788817d2f3048c1
/.vs/3d-engine/v17/ipch/AutoPCH/685fd1287aee3fc7/CYLINDER.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/685fd1287aee3fc7
/.vs/3d-engine/v17/ipch/AutoPCH/602b9ae2a695c02/SHADING_TUTORIAL.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/602b9ae2a695c02
/.vs/3d-engine/v17/ipch/AutoPCH/3eb65a500ff85cb6/SCENE.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/3eb65a500ff85cb6
/.vs/3d-engine/v17/ipch/AutoPCH/3cba275a46aef5e4/CYLINDER.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/3cba275a46aef5e4
/.vs/3d-engine/v17/ipch/AutoPCH/2ca5955751bbafe1/CUBE.ipch
/.vs/3d-engine/v17/ipch/AutoPCH/2ca5955751bbafe1
/.vs/3d-engine/v17/ipch/AutoPCH
/.vs/3d-engine/v17/Browse.VC.opendb
/.vs/3d-engine/v17/Browse.VC.db-wal
/.vs/3d-engine/v17/Browse.VC.db-shm
/.vs/3d-engine/v17/Browse.VC.db
/.vs/3d-engine/v17/.suo
/.vs/3d-engine/v17
/.vs
